.journalPage {
  background-color: #f6eee3;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 1em 1em 3em;
  position: relative;
  text-indent: 2em;
  white-space: pre-wrap;
}

.dateString {
  text-align: center;
}

.border {
  border-top: 1px dotted black;
  margin: auto;
  width: 60%;
}

.userMessage {
}

.aiMessage {
}

.chatForm {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.chatForm .submitChatForm {
  background-color: transparent;
  flex: none;
}

.userInput {
  flex: 1;
  resize: none;
}

.userInput:not(:focus) {
  background-color: transparent;
}

.sidePane {
  background-color: inherit;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s transform;
  width: 30%;
}

.sidePane {
  transform: translate(calc(100% - 2em), calc(2em - 100%));
}

.sidePane.sidePaneOpened {
  transform: none;
}

.sidePane > button {
  background-color: inherit;
  border: none;
  padding: 0.5em;
  text-align: center;
}

.sidePane > button:hover {
  opacity: 0.3;
}

.openPane {
  bottom: 0;
  left: 0;
  position: absolute;
}

.sidePane.sidePaneOpened .openPane {
  transform: rotate(180deg);
}
