.journalPage {
  background-color: #f6eee3;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 1em 1em 3em;
  position: relative;
  text-indent: 2em;
  white-space: pre-wrap;
}

.dateString {
  text-align: center;
}

.border {
  border-top: 1px dotted black;
  margin: auto;
  width: 60%;
}

.userMessage {
}

.aiMessage {
}

.chatForm {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}

.chatForm .submitChatForm {
  background-color: transparent;
  flex: none;
}

.userInput {
  flex: 1;
  resize: none;
}

.userInput:not(:focus) {
  background-color: transparent;
}
