.tree {
}

.nodeContainer {
  align-items: center;
  display: inline-flex;
  flex: none;
  flex-direction: column;
  gap: 1em;
}

.nodeContainer > * {
  min-width: 0;
}

.node {
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  justify-content: center;
  padding: 0;
}

.node > * {
  min-width: 0;
}

.nodeActivated {
}

.nodeExact {
}

.addNode {
  cursor: pointer;
}

.addNodeText {
  font-size: 12px;
  line-height: 1;
}

.children {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
