.tree .node.chatNode {
  background-color: white;
  border: 1px solid black;
  flex-direction: column;
  font-size: 12px;
  min-height: 0;
  transition-duration: 0.3s;
  transition-property: border-radius, height, width;
  white-space: pre-wrap;
}

.node.chatNode.chatForm {
  border: none;
}

.chatNodeQuery {
  border-bottom: 1px solid black;
}
